/*
 * Import nib
 */
@import 'nib';

/*
 * Nib provides a CSS normalize
 */
normalize-css()

body 
    background-color: #e2e2e2;
    font: 14px Arial, Verdana, sans-serif;

.container
    margin: 0 auto
    width: 400px
    text-align: center

.input-wrapper
    margin-top: 20px

.button
    margin: 20px 0

.error-message
    color: #f00